/* 时间轴样式 */
.course_nr{height:162px;width:70%; background:url(../images/ico9.gif) repeat-x center;}


.course_nr li{ float:left; background:url(../images/c.jpg) no-repeat center top; padding-top:30px;
width:20%; text-align:center; position:relative; margin-top:65px;}



.shiji{ position:absolute; width:100%; left:0; top:-20px; display:none;}


.shiji h1{ height:67px; line-height:67px; color:#518dbb; font-weight:bold; background:url(../images/box.jpg)
  no-repeat center top; margin-bottom:8px;}





.shiji p{ line-height:14px; color:#999;}
